<!DOCTYPE HTML>
<html>
<head>
	<meta charset = "utf-8">
	<link href = "../css/bootstrap.min.css" rel = "stylesheet" th:href = "@{/css/bootstrap.min.css}">
	<style> .container {
		max-width: 560px;
		
		.field-error {
			border-color: #dc3333;
			color: #dc3333
		}
	} </style>
</head>
<body>
<div class = "container">
	<div class = "py-5 text-center"><h2 th:text = "#{page.addItem}">Register Product Form</h2></div>
	<h4 class = "mb-3">Product</h4>
	<!--	      같은 url이면 생략해도 된다.-->
	<!--	      th:action = "@{/basic/items/add}"-->
	<form action = "item.html" method = "post" th:action th:object = "${item}">
		
		<!--		before use BindingResult-->
		<!--<div th:if = "${errors?.containsKey('globalError')}"><p class = "field-error" th:text = "${errors['globalError']}">error messages</p></div>-->
		
		<div th:if = "${#fields.hasGlobalErrors}">
			<p class = "field-error" th:each = "err : ${#fields.globalErrors()}" th:text = "${err}">
				error messages </p>
		</div>
		<div>
			<label for = "name" th:text = "#{label.item.itemName}">Name
			</label>
			
			<!--    before use BindingResult    -->
			<!--	th:class = "${errors?.containsKey('name')}? 'form-control field-error':'form-control'"  -->
			<input class = "form-control" placeholder = "Please enter the name" th:errorclass = "field-error"
			       th:field = "*{name}" type = "text"/>
			
			<!--		before use BindingResult-->
			<!--    <div class = "field-error" th:if = "${errors?.containsKey('name')}" th:text = "${errors['name']}">error messages</div>-->
			
			<!--		if there is an error on name filed, it writes code th:text="" automatically-->
			<div class = "field-error" th:errors = "*{name}">
				error messages
			</div>
		</div>
		<div>
			<label for = "price" th:text = "#{label.item.price}">Price
			</label>
			<input class = "form-control" placeholder = "Please enter the price" th:errorclass = "field-error"
			       th:field = "*{price}" type = "text"/>
			<div class = "field-error" th:errors = "*{price}">
				error messages
			</div>
		</div>
		<div>
			<label for = "quantity" th:text = "#{label.item.quantity}">Quantity
			</label>
			<input class = "form-control" placeholder = "Please enter the quantity"
			       th:errorclass = "field-error" th:field = "*{quantity}" type = "text"/>
			<div class = "field-error" th:errors = "*{quantity}">
				error messages
			</div>
		</div>
		<hr class = "my-4">
		<!-- single checkbox -->
		<div th:text = "#{label.item.salesStatus}">Sales status</div>
		<div>
			<div class = "form-check">
				<!--				<input type = "checkbox"-->
				<!--				       id = "open"-->
				<!--				       name = "open"-->
				<!--				       class = "form-check-input">-->
				<!--hidden field-->
				<!--				<input type="hidden" name="_open" value="on"/>-->
				<!--				<label for = "open"-->
				<!--				       class = "form-check-label">Sales status-->
				<!--				</label>-->
				<input class = "form-check-input" th:field = "*{open}" type = "checkbox">
				<label class = "form-check-label" for = "open" th:text = "#{label.item.salesStatus}">판매 상태
				</label>
			</div>
		</div>
		<!-- multi checkbox -->
		<hr class = "my-4">
		<div>
			<div th:text = "#{label.item.region}">Region</div>
			<div class = "form-check form-check-inline" th:each = "region : ${regions}">
				<input class = "form-check-input" th:field = "*{regions}" th:value = "${region.key}"
				       type = "checkbox">
				<label class = "form-check-label" th:for = "${#ids.prev('regions')}"
				       th:text = "${region.value}">
					Seoul
				</label>
			</div>
		</div>
		<!-- radio button -->
		<hr class = "my-4">
		<div>
			<div th:text = "#{label.item.category}">Category</div>
			<div class = "form-check form-check-inline" th:each = "type : ${itemTypes}">
				<input class = "form-check-input" th:field = "*{itemType}" th:value = "${type.name()}"
				       type = "radio">
				<label class = "form-check-label" th:for = "${#ids.prev('itemType')}"
				       th:text = "${type.description}">
					BOOK
				</label>
			</div>
		</div>
		<!-- SELECT -->
		<hr class = "my-4">
		<div>
			<div th:text = "#{label.item.delivery}">Delivery</div>
			<select class = "form-select" th:field = "*{deliveryCode}">
				<option value = "">==Choose a shipping method==</option>
				<option th:each = "deliveryCode : ${deliveryCodes}" th:text = "${deliveryCode.displayName}"
				        th:value = "${deliveryCode.code}">FAST
				</option>
			</select>
		</div>
		<div class = "row">
			<div class = "col">
				<button class = "w-100 btn btn-primary btn-lg" th:text = "#{page.addItem}" type = "submit">
					Product register
				</button>
			</div>
			<div class = "col">
				<button class = "w-100 btn btn-secondary btn-lg" onclick = "location.href='items.html'"
				        th:onclick = "|location.href='@{/basic/items}'|" th:text = "#{button.cancel}"
				        type = "button">Cancel
				</button>
			</div>
		</div>
	</form>
</div> <!-- /container --> </body>
</html>