<!DOCTYPE HTML>
<html>
<head>
	<meta charset = "utf-8">
	<link href = "../css/bootstrap.min.css"
	      rel = "stylesheet"
	      th:href = "@{/css/bootstrap.min.css}">
	<style>
		.container {
			max-width: 560px;
		} </style>
</head>
<body>
<div class = "container">
	<div class = "py-5 text-center">
		<h2>Product Detail</h2>
	</div>
	
	<h2 th:if = "${param.status}"
	    th:text = "'succeeded to save'"></h2>
	
	<div>
		<label for = "itemId">Product ID</label>
		<input class = "form-control"
		       id = "itemId"
		       name = "itemId"
		       readonly
		       th:value = "${item.id}"
		       type = "text"
		       value = "1">
	</div>
	<div>
		<label for = "itemName">Name</label>
		<input class = "form-control"
		       id = "itemName"
		       name = "itemName"
		       readonly
		       th:value = "${item.name}"
		       type = "text"
		       value = "Whoru">
	</div>
	<div>
		<label for = "price">Price</label>
		<input class = "form-control"
		       id = "price"
		       name = "price"
		       readonly
		       th:value = "${item.price}"
		       type = "text"
		       value = "10000">
	</div>
	<div>
		<label for = "quantity">Quantity</label>
		<input class = "form-control"
		       id = "quantity"
		       name = "quantity"
		       readonly
		       th:value = "${item.quantity}"
		       type = "text"
		       value = "10">
	</div>
	<hr class = "my-4">
	<div>
		<div class = "form-check">
			<input class = "form-check-input"
			       disabled
			       id = "open"
			       name = "open"
			       th:field = "*{item.open}"
			       type = "checkbox">
			<label class = "form-check-label"
			       for = "open">Sales status
			</label>
		</div>
	</div>
	
	<!-- multi checkbox -->
	<hr class = "my-4">
	<div>
		<div>Region</div>
		<div class = "form-check form-check-inline"
		     th:each = "region : ${regions}">
			<input class = "form-check-input"
			       disabled
			       th:field = "${item.regions}"
			       th:value = "${region.key}"
			       type = "checkbox">
			<label class = "form-check-label"
			       th:for = "${#ids.prev('regions')}"
			       th:text = "${region.value}">Seoul
			</label>
		</div>
	</div>
	
	<!-- radio button -->
	<hr class = "my-4">
	<div>
		<div>Category</div>
		<div class = "form-check form-check-inline"
		     th:each = "type : ${itemTypes}">
			<input class = "form-check-input"
			       disabled
			       th:field = "${item.itemType}"
			       th:value = "${type.name()}"
			       type = "radio">
			<label class = "form-check-label"
			       th:for = "${#ids.prev('itemType')}"
			       th:text = "${type.description}"> BOOK
			</label>
		</div>
	</div>
	
	<!-- SELECT -->
	<hr class = "my-4">
	<div>
		<div>Delivery</div>
		<select class = "form-select"
		        disabled
		        th:field = "${item.deliveryCode}">
			<option value = "">==Choose a shipping method==</option>
			<option th:each = "deliveryCode : ${deliveryCodes}"
			        th:text = "${deliveryCode.displayName}"
			        th:value = "${deliveryCode.code}">FAST
			</option>
		</select>
	</div>
	
	
	<div class = "row">
		<div class = "col">
			<button class = "w-100 btn btn-primary btn-lg"
			        onclick = "location.href='editForm.html'"
			        th:onclick = "|location.href='@{/basic/items/{itemId}/edit (itemId=${item.id})} '|"
			        type = "button">Edit
			</button>
		</div>
		<div class = "col">
			<button class = "w-100 btn btn-secondary btn-lg"
			        onclick = "location.href='items.html'"
			        th:onclick = "|location.href='@{/basic/items}'|"
			        type = "button">List
			</button>
		</div>
	</div>
</div> <!-- /container --> </body>
</html>